@model PersonagensModel
@using GmailAvatar.Models

@{
    Layout = null;
    string[] cores = new string[] { "azul", "verde", "amarelo", "vermelho", "roxo", "cinza" };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/App_Themes/Tema1/_estilos.css" rel="stylesheet" />
    <link href="@Url.Content("~/App_Themes/Tema1/" + Model.Cor + ".css")" rel = "stylesheet" />
</head>
<body>
    <main>

        <h1>@Model.Ativo.Nome @Model.Ativo.Sobrenome</h1>
        <h2>@Model.Cor</h2>

        <div class="exibicao">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 384" style="height: 384px">
                @Html.Partial("_Blank")

                @Html.Partial(Model.Ativo.Nome + Model.Ativo.Sobrenome)
            </svg>
        </div>

        <div class="controles">
            <div class="botoes-forma">
                @using (Html.BeginForm("HandleFormaClick", "Personagem"))
                {
                    for (int i = 0; i < Model.Tamanho; i++)
                    {
                        <button type="submit" name="pers" value=@i>
                            @Model.Personagens[i].Nome @Model.Personagens[i].Sobrenome
                        </button>
                    }
                }
            </div>

            <div class="botoes-cor">
                @using (Html.BeginForm("HandleCorClick", "Personagem"))
                {
                    foreach (string cor in cores)
                    {
                        <button type="submit" name="cor" value=@cor>
                            @cor
                        </button>
                    }
                }
            </div>
        </div>

    </main>
</body>
</html>
